<!doctype html>
<html lang="en">
<head>
    <title>PyKanpur Kanpur Python Users Group</title>
    <!-- adding the bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <!-- adding stylesheet and favicon -->
    <link rel="stylesheet" type="text/css" href="{{  url_for('static',filename='css/style.css')  }}">
    <link rel="shortcut icon" href="{{url_for('static',filename='images/kanpur_python.png')}}">
</head>


<body>
    <center>
    <ul class="nav nav-pills" style="margin-left: 10px">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation" class="active"><a href="#">About</a></li>
        <li role="presentation"><a href="https://www.facebook.com/KanpurPython/" target="_blank">Facebook</a></li>
        <li role="presentation"><a href="https://twitter.com/PythonKanpur" target="_blank">Twitter</a></li>
        <li role="presentation"><a href="https://www.meetup.com/KanpurPython/" target="_blank">Meetup</a></li>
        <li role="presentation"><a href="/learn">Learning Resources</a></li>
    </ul>
    </center><br>
    <center>
        <iframe src="//www.slideshare.net/slideshow/embed_code/key/36SeZg25eA6VL4" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
        <div style="margin-bottom:5px">
            <strong>
            <a href="//www.slideshare.net/HimanshuAwasthi14/kanpur-python-users-group" title="Kanpur Python Users Group" target="_blank">Kanpur Python Users Group</a>
            </strong> </div>
    </center>
</body>
</html>
