<!doctype html>
<html lang="en">
<head>
    <title>PyKanpur Kanpur Python Users Group</title>
    <!-- adding the bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <!-- adding stylesheet and favicon -->
    <link rel="stylesheet" type="text/css" href="{{  url_for('static',filename='css/style.css')  }}">
    <link rel="shortcut icon" href="{{url_for('static',filename='images/kanpur_python.png')}}">
</head>
<body>
    <center>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">About</a></li>
        <li role="presentation"><a href="https://www.facebook.com/KanpurPython/" target="_blank">Facebook</a></li>
        <li role="presentation"><a href="https://twitter.com/PythonKanpur" target="_blank">Twitter</a></li>
        <li role="presentation"><a href="https://www.meetup.com/KanpurPython/" target="_blank">Meetup</a></li>
    </ul>
    </center><br>
    <center>
        <img src="{{url_for('static',filename='images/kanpur_python.png')}}" height = "200" width="200">
        <h1>PyKanpur</h1>
        <p><h2>Kanpur Python Users Group</h2></p>
    </center>
</body>
</html>
