<!doctype html>
<html lang="en">
<head>
    <title>PyKanpur Kanpur Python Users Group</title>
    <!-- adding the bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <!-- adding stylesheet and favicon -->
    <link rel="stylesheet" type="text/css" href="{{  url_for('static',filename='css/style.css')  }}">
    <link rel="shortcut icon" href="{{url_for('static',filename='images/kanpur_python.png')}}">
</head>


<body>
    <center>
    <ul class="nav nav-pills" style="margin-left: 10px; margin-top: 10px">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/about">About</a></li>
        <li role="presentation"><a href="https://www.facebook.com/KanpurPython/" target="_blank">Facebook</a></li>
        <li role="presentation"><a href="https://twitter.com/PythonKanpur" target="_blank">Twitter</a></li>
        <li role="presentation"><a href="https://www.meetup.com/KanpurPython/" target="_blank">Meetup</a></li>
        <li role="presentation" class="active"><a href="#">Learning Resources</a></li>
    </ul>
    </center><br>
        <div style="margin-left: 50px">
            <center>
        <iframe src="//www.slideshare.net/slideshow/embed_code/key/DzyrGgyIj0x3DK" width="460" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
        <div style="margin-bottom:5px">
            <strong>
                <a href="//www.slideshare.net/TUSHARMITTAL43/introduction-to-python3-programming-language-79734232" title="Introduction to Python3 Programming Language" target="_blank">Introduction to Python3 Programming Language</a>
            </strong>
        </div>
            </center>
        </div>
</body>
</html>
